<script src="../controllers/add.js"></script>
<div class="card">
  <label class="form-label">Name:</label>
  <input class="form-input" id="nameInput" value="" class="add-input" type="text">
  
  <label class="form-label">Office number:</label>
  <input class="form-input" id="officeNumInput" class="add-input" type="number">
  
  <label class="form-label">Phone number:</label>
  <input class="form-input" id="phoneNumInput" class="add-input" type="text">
  
  <button class="btn-primary" onclick="addEmployee()">Add employee</button>
  <span class="error-message" id="errorMessageAdd"></span>
</div>