<div class="card">
  <label class="form-label">Name:</label>
  <input class="form-input"  id="nameInputUpdate" value="" class="add-input" type="text">
  
  <label class="form-label">Office number:</label>
  <input class="form-input"  id="officeNumInputUpdate" class="add-input" type="number">
  
  <label class="form-label">Phone number:</label>
  <input class="form-input"  id="phoneNumInputUpdate" class="add-input" type="text">
  
  <button class="btn-primary" onclick="updateData()">Update employee</button>
  <span class="error-message" id="errorMessageUpdate"></span>
</div>