<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LFL Employee Directory</title>
    <link rel="stylesheet" href="../../style.css">
  </head>
  <body>
    <script src="../common/nav.js"></script>
    <script src="../common/employees.js"></script>
    <script src="add.js"></script>
    <nav id="nav"></nav>
    <main>
      <section>
        <div class="card">
          Name: <input id="nameInput" value="" class="add-input" type="text"><br>
          Office number: <input id="officeNumInput" class="add-input" type="number"><br>
          Phone number: <input id="phoneNumInput" class="add-input" type="text"><br>
          <button onclick="addEmployee()">Add employee</button>
        </div>
        
      </section>
      <section id="employeeList"></section>
    </main>
  </body>
</html>
